@charset "utf-8";

/*--- common style ---*/
.is-halfWidth {
  width: 50%;
}

.is-fullWidth {
  width: 100%;
}

.is-defaultText {
  color: #949697;
  font-size: 12px;
}

/*--- リンク ---*/
.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

/*--- ボタンパーツ ---*/
.button-init {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
/*--- common style end ---*/

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.form-title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

/*--- SNS part ---*/
.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.is-facebook {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.is-facebook:hover {
  background-color: #344e87;
  border-color: transparent;
}

.is-google {
  color: #dd4b39;
  background-color: #fff;
}

.is-google:hover {
  background-color: #f7f7f7;
}

.supplement-text {
  text-align: center;
  margin-top: 8px;
}

.devider {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

/*--- form part ---*/
.form-content {
  margin-top: 20px;
}

/*--- 利用規約 ---*/
.agreement {
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

/*--- foot part---*/
.foot-part {
  text-align: center;
  margin-top: 32px;
}

.foot-part p, .resend-mail {
  line-height: 16px;
  font-size: 12px;
}

.resend-mail {
  margin-top: 8px;
}

.foot-part a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.resend-mail {
  display: inline-block;
}


/* 共通 */
.alert {
  color: #dd4b39;
}

.row {
  margin-top: 20px;
}

.input-box {
  height: 36px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #545658;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}

.input-box::placeholder{
  font-size: 13px;
}

.input-box:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgb(1 191 189 / 10%);
}

.label-text {
  display: block;
  color: #545658;
  font-size: 12px;
}

/* 共通 */


/* 名前 */
.name-area {
  display: flex;
}

.half-box {
  width: 50%;
  margin-left: 16px;
}

.half-box:first-child {
  margin-left: 0;
}
/* 名前 */


/* 性別 */
.gender-box {
  display: flex;
  margin-top: 5px;
}

.gender-list {
  margin-left: 15px;
  color: #545658;
}

.gender-list:first-child {
  margin-left: 0;
}

.radio-input {
  appearance: none;
}

.gender-item {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.radio-input:checked + .gender-item::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}
/* 性別 */


/* 出身 */
.input-box {
  -webkit-appearance: none;
}

.hometown-box {
  margin-left: 0;
  position: relative;
}

.hometown-box::after {
  position: absolute;
  right: 10px;
  top: 45%;
  content: "";
  width: 5px;
  height: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  transform: rotate(45deg);
  pointer-events: none;
}

.select-area {
  margin-top: 8px;
  font-size: 13px;
}
/* 出身 */


/* 希望コース */
.course-box {
  margin-top: 10px;
}

.course-box:nth-of-type(1) {
  margin-top: 5px;
}

.check-box {
  display: none;
}

.check-box-text {
position: relative;
padding-left: 25px;
color: #545658;
}

.check-box-text:after, .check-box-text:before{
position: absolute;
content: "";
display: block;
}

.check-box-text:after {
left: 0;
top: 50%;
width: 15px;
height: 15px;
margin-top: -8px;
border: 1px solid #d9d9d9;
}

.check-box-text:before {
left: 6px;
top: 50%;
width: 8px;
height: 16px;
margin-top: -12px;
border-right: 3px solid #01bfbd;
border-bottom: 3px solid #01bfbd;
transform: rotate(45deg);
opacity: 0;
z-index: 3;
}

.check-box:checked + .check-box-text:before {
opacity: 1;
}
/* 希望コース */



/* 備考 */
.textarea-box {
  height: 100px;
  resize: none;
  line-height: 2;
}
/* 備考 */



/* アカウント作成ボタン */
.submit-btn {
  width: 100%;
  padding: 13px;
  font-size: 13px;
  color: #fff;
  background-color: #01bfbd;
  border: 1px solid #01bfbd;
  border-radius: 3px;
  transition: .3s;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #01a6a4;
}

.submit-btn:active {
  background-color: #fff;
  color: #01a6a4;
  border-color: #d9d9d9;
}
/* アカウント作成ボタン */


/* 利用規約 */
.foot-part {
  cursor: pointer;
}

.link-color:hover {
  color: #01bfbd;
}
/* 利用規約 */


